@model IEnumerable<MvcMusicStore.Models.Genre>

@{
    ViewBag.Title = "Browse";
}

<h2>Browse by Genre</h2>

@foreach (var item in Model)
{
    <li>

        @Html.ActionLink(item.Name, "Index", new { id = item.GenreId })

    </li>
}

