@model IEnumerable<MvcMusicStore.Models.Genre>

@{
    ViewBag.Title = "Browse";
}
<br />
<br />
<br />
<img src="~/Content/Images/logo.png" width="120"/>
<h1>ASP.NET MVC MUSIC STORE</h1>
<hr />
<h2>Browse by Genre</h2>

@foreach (var item in Model)
{
    <li>

        @Html.ActionLink(item.Name, "Index", new { id = item.GenreId })

    </li>
}

</ul>