@model IEnumerable<MvcMusicStore.Models.Album>
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<img src="~/Content/Images/logo.png" width="120" />
<h1>ASP.NET MVC MUSIC STORE</h1>
<hr />
<h2>Here are the list of albums</h2>

<ul>


    @foreach (var item in Model)
    {
        <li>

            @Html.ActionLink(item.Title, "Details", new { id = item.AlbumId })

        </li>
    }

</ul>
@Html.ActionLink("Back to Browse", "Browse")
