@model EnrollmentApplication.Models.Student
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">The Student of the Month is: @Model.FirstName @Model.LastName</h3>
    </div>
    <div>
        <center><h1>@Model.FirstName @Model.LastName</h1></center>
    </div>
</div>